<div class="settings-menu">
                <div id="dark-btn">
                    <span></span>
                </div>
                <div class="settings-menu-inner">
                    <div class="user-profile">
                        <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png">
                        <div>
                            <p>John Nicholson</p>
                            <a href="profile.html">See your profile</a>
                        </div>
                    </div>
                    <hr>
                    <div class="user-profile">
                        <img src="https://i.postimg.cc/hv3nx52s/feedback.png">
                        <div>
                            <p>Give Feedback</p>
                            <a href="#">Help us to improve the new design</a>
                        </div>
                    </div>
                    <hr>
                    <div class="settings-links">
                        <img src="https://i.postimg.cc/QCcPNYRV/setting.png" class="settings-icon">
                        <a href="#">Settings & Privacy <img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"></a>
                    </div>
                    <div class="settings-links">
                        <img src="https://i.postimg.cc/C5tydfK6/help.png" class="settings-icon">
                        <a href="#">Help & Support<img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"></a>
                    </div>
                    <div class="settings-links">
                        <img src="https://i.postimg.cc/5yt1XVSj/display.png" class="settings-icon">
                        <a href="#">Display & Accessibility <img src="https://i.postimg.cc/RF1dBMWr/arrow.png"width="10px"></a>
                    </div>
                    <div class="settings-links">
                        <img src="https://i.postimg.cc/PJC9GrMb/logout.png" class="settings-icon">
                        <a href="#">Logout <img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"></a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            